[submodule "client_cpp/lib/function_thread_handler"]
	path = client_cpp/lib/function_thread_handler
	url = https://github.com/anil235476/func_thread_handler
	branch = master
[submodule "client_cpp/lib/json_parser"]
	path = client_cpp/lib/json_parser
	url = https://github.com/anil235476/json_parser
	branch = master
[submodule "client_cpp/lib/signaller"]
	path = client_cpp/lib/signaller
	url = https://github.com/anil235476/websocket_client
	branch = master
[submodule "client_cpp/lib/websocket_server"]
	path = client_cpp/lib/websocket_server
	url = https://github.com/anil235476/websocket_server
	branch = master
[submodule "client_cpp/lib/video_render"]
	path = client_cpp/lib/video_render
	url = https://github.com/anil235476/video_renderer
	branch = master
[submodule "client_cpp/lib/video_receiver_helper"]
	path = client_cpp/lib/video_receiver_helper
	url = https://github.com/anil235476/video_receiver_helper
	branch = master
